@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');
@import url('@fontsource/inter');

html {
    --lumo-border-radius: calc(var(--lumo-size-m) / 2);
    --lumo-font-family: Inter;
}

h3.header {
    font-size: max(4vw,calc(var(--lumo-font-size-xl)*0.9));
    font-weight: bold;
    padding-left: 2vw;
}
